<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas Concluídas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Tarefas concluídas</h1>

        <h2>Histórico</h2>
        {% for tarefas in tarefasConcluidas %}
        <div class="ui segment">
            <p class="ui big header">{{ tarefas.titulo }}</p>
            <p>Concluida em: {{ tarefas.concluidoEm.strftime('%d-%m-%Y %H:%M') }}</p>
        </div>
        {% endfor %}
    </div>
</body>

</html>