<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">

        <h1 class="ui center aligned header">Lista de Tarefas</h1>

        <!-- Formulário para adicionar nova tarefa -->
        <form action="/adicionar" method="post" class="ui form">
            <div class="field">
                <label for="nomeTarefa">Tarefa:</label>
                <input type="text" name="nomeTarefa" placeholder="Digite a tarefa" required>
                <br>
                <button type="submit" class="ui blue button">Adicionar</button>
                <a class="ui green button" href="/tarefasConcluidas">Ver tarefas concluídas</a>
            </div>
        </form>

        <hr>

        <!-- Exibição de mensagens de erro (flash) -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="ui negative message">
            <ul class="list">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <!-- Tarefas pendentes -->
        {% for tarefa in listaTarefas %}
        <div class="ui segment">
            <p class="ui big header">{{ tarefa.titulo }}</p>
            <p>Criado em: {{ tarefa.criadoEm.strftime('%d-%m-%Y %H:%M') }}</p>

            <!-- Botão para concluir tarefa -->
            {% if loop.index0 == 0 %}
            <a class="ui blue button" href="/concluir/{{ loop.index0 }}">Concluir</a>
            {% else %}
            <button class="ui blue button" disabled>Concluir (Siga a ordem FIFO)</button>
            {% endif %}
            <!-- Botão para deletar tarefa -->
            <a class="ui red button" href="/deletar_pendente/{{ tarefa.id }}">Deletar</a>
        </div>
        {% endfor %}
    </div>

</body>

</html>